<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">1</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <%- include("author-name.ejs") %>
        </div>

    </div>

    <hr>
</div>

<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">2</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <%- include("author-name.ejs") %>
        </div>

    </div>

    <hr>
</div>

<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">3</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <%- include("author-name.ejs") %>
        </div>

    </div>

    <hr>
</div>

<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">4</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <%- include("author-name.ejs") %>
        </div>

    </div>

    <hr>
</div>

<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">5</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <%- include("author-name.ejs") %>
        </div>

    </div>

    <hr>
</div>