<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">1</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <div class="row" style="white-space: nowrap;">
                <div class="col">
                    <p class="author_name text-uppercase">
                        <%= posts.author %>
                    </p>
                </div>
                <div class="col">
                    <p class="publish_time text-uppercase">
                        <%= posts.date %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <hr>
</div>

<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">2</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <div class="row" style="white-space: nowrap;">
                <div class="col">
                    <p class="author_name text-uppercase">
                        <%= posts.author %>
                    </p>
                </div>
                <div class="col">
                    <p class="publish_time text-uppercase">
                        <%= posts.date %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <hr>
</div>

<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">3</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <div class="row" style="white-space: nowrap;">
                <div class="col">
                    <p class="author_name text-uppercase">
                        <%= posts.author %>
                    </p>
                </div>
                <div class="col">
                    <p class="publish_time text-uppercase">
                        <%= posts.date %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <hr>
</div>

<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">4</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <div class="row" style="white-space: nowrap;">
                <div class="col">
                    <p class="author_name text-uppercase">
                        <%= posts.author %>
                    </p>
                </div>
                <div class="col">
                    <p class="publish_time text-uppercase">
                        <%= posts.date %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <hr>
</div>

<div class="cc_widget">

    <div class="row">
        <div class="col-auto circle_badge cw-text-num">5</div>
        <div class="col badge_text">
            <div class="cc_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing
            </div>
            <div class="row" style="white-space: nowrap;">
                <div class="col">
                    <p class="author_name text-uppercase">
                        <%= posts.author %>
                    </p>
                </div>
                <div class="col">
                    <p class="publish_time text-uppercase">
                        <%= posts.date %>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <hr>
</div>