<% slicedPosts=posts.slice(posts.length - 5); const reversedPosts=slicedPosts.reverse(); %>


    <% reversedPosts.forEach((post, index)=> { %>
        <div class="widget">

            <div class="row">
                <div class="col-auto circle_badge">
                    <%= index+=1 %>
                </div>
                <div class="col-8 badge_text">
                    <div class="title">
                        <%= post.title %>
                    </div>
                    <div class="row" style="white-space: nowrap;">
                        <div class="col">
                            <p class="author_name text-uppercase">
                                <%= post.author %>
                            </p>
                        </div>
                        <div class="col">
                            <p class="publish_time text-uppercase">
                                <%= post.date %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-3 img-adjustment">
                    <div class="img-placeholder">
                        <img src="<%= post.imgLink %>" alt="" class="post_img">
                    </div>
                </div>

            </div>

            <hr>
        </div>
        <% }) %>