<div class="widget">

    <div class="row">
        <div class="col-auto circle_badge">1</div>
        <div class="col-8 badge_text">
            <div class="title">
                <%= title %>
            </div>
            <%- include("author-name.ejs") %>
        </div>
        <div class="col-3 img-adjustment">
            <div class="img-placeholder">
                <img src="<%= imgLink %>" alt="" class="post_img">
            </div>
        </div>
    </div>

    <hr>
</div>

<div class="widget" id="index">

    <div class="row">
        <div class="col-auto circle_badge">2</div>
        <div class="col-8 badge_text">
            <div class="title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae magni voluptatum
                molestiae
            </div>
            <%- include("author-name.ejs") %>
        </div>
        <div class="col-3 img-adjustment">
            <div class="img-placeholder">
                <img src="/images/forthnight.webp" alt="" class="post_img">
            </div>
        </div>
    </div>

    <hr>
</div>

<div class="widget" id="index">

    <div class="row">
        <div class="col-auto circle_badge">3</div>
        <div class="col-8 badge_text">
            <div class="title">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae magni voluptatum
                molestiae
            </div>
            <%- include("author-name.ejs") %>
        </div>
        <div class="col-3 img-adjustment">
            <div class="img-placeholder">
                <img src="/images/forthnight.webp" alt="" class="post_img">
            </div>
        </div>
    </div>

    <hr>
</div>