<%- include("partials/header.ejs") %>

    <div class="container">

        <section class="home" id="top_and_recent">

            <div class="row">
                <div class="col-lg-8">
                    <div>
                        <img src="/images/teksteezeflipped.svg" alt="" class="top_svg" id="lt">
                        <img src="<%= imgLink %>" alt="" class="top_img">
                    </div>

                    <div class="">
                        <div class="img_text">
                            <p class="custom-underline">
                                <%= title %>
                            </p>
                        </div>
                        <div class="img_text_subtitle">
                            <p>
                                <%= content %>
                            </p>
                            <%- include("partials/author-name.ejs", {title, imgLink} ) %>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-lg-4 mt-lg-0 mt-5 ">

                    <h2 class="top_post_title">Top Posts</h2>

                    <%- include("partials/widgets.ejs") %>

                </div>

            </div>

        </section>

        <%- include("partials/content.ejs") %>

            <%- include("partials/content-cont.ejs") %>


    </div>

    <%- include("partials/footer.ejs") %>